@model IQueryable<VetDesk.Entity.Critter>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="@Url.Content("~/css/mvc-grid/mvc-grid.css")" rel="stylesheet">
}
<h1>All the Critters!</h1>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name).Titled("Name")
            .RenderedAs(c => Html.ActionLink(c.Name, "Edit", new { Id = c.Id }));
        columns.Add(model => model.Customer.FullName).Titled("Customer");
        columns.Add(model => model.CritterType.Description).Titled("Type");
        columns.Add(model => model.PhotoId).Titled("Photo")
        .Encoded(false)
        .Filterable(false)
        .Sortable(false)
        .RenderedAs(c => $"<img src='{@Url.Action("Get", "Photos", new { Id = c.PhotoId })}' style='max-height:100px;height:auto;width:auto' />");

    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.RowsPerPage = 5;
    })
)

@section Scripts {
    <script src="@Url.Content("~/js/mvc-grid/mvc-grid.js")"></script>
    <script>
           document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
}
